.link {
  text-decoration: none;
}

.container {
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  width: 80vw;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  color: black;
  font-size: 25px;
  font-weight: bold;
}
