.link {
  text-decoration: none;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  width: 85%;
  background-color: #110e0e;
  padding: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.name {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
