@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
}

.react-calendar {
  width: 100%;
  border: var(--gray-200) 3px solid;
}

.react-calendar__navigation {
  display: flex;
  height: 40px;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  width: 40px;
  font-size: 25px;
  font-weight: bold;
}

.react-calendar__navigation button:disabled {
  background-color: var(--gray-100);
}

.react-calendar__navigation button:enabled:hover {
  background-color: var(--gray-200);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 10px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--gray-500);
}

.react-calendar__tile {
  padding: 10px;
}

.react-calendar__tile:disabled {
  background-color: var(--gray-100);
}

.react-calendar__tile:enabled:hover {
  background-color: var(--gray-300);
}

.react-calendar__tile--now {
  background-color: var(--gray-900);
  color: white;
}

.react-calendar__tile--now:enabled:hover {
  background-color: var(--gray-800);
}

.react-calendar__tile--active {
  background-color: var(--blue-500) !important;
  color: white;
}

.react-calendar__tile--active:enabled:hover {
  background-color: var(--blue-600);
}

@media only screen and (max-width: 520px) {
  .react-calendar__navigation button:nth-child(3) {
    font-size: 18px;
  }
}

@media only screen and (max-width: 410px) {
  .react-calendar__navigation button:nth-child(3) {
    font-size: 15px;
  }
}

@media only screen and (max-width: 395px) {
  .react-calendar__navigation button {
    width: 30px;
  }
}

@media only screen and (max-width: 355px) {
  .react-calendar__navigation button {
    width: 27px;
  }
}
