.button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
  transition: box-shadow 250ms;
}

.button:hover {
  box-shadow: 1px 1px 10px black;
}

.icon {
  color: #698eff;
  font-size: 45px;
}
