.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #110e0e;
  padding: 30px;
  border-radius: 5px;
}

.name {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  gap: 5px;
}

.acceptButton {
  border: none;
  background-color: #4871eb;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms;
}

.acceptButton:hover {
  background-color: #587ef3;
}

.denyButton {
  border: none;
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms;
}

.denyButton:hover {
  background-color: rgb(235, 35, 75);
}
